<div class="center jumbotron">
  <div class="text-center">
    <h1>Fav-Video</h1>
    <p>あなたのお気に入りの動画をシェアしましょう！</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 text-center">items</div>
  <div class="col-sm-4 text-center">users</div>
  <div class="col-sm-4 text-center">new</div>
</div>